.fs10 {
    font-size: 10px !important;
}

.fs32 {
    font-size: 32px !important;
}

.fwr {
    font-weight: 400;
}

.fwm {
    font-weight: 500;
}

.fwb {
    font-weight: 700;
}

.fc20 {
    color: #202020;
}

.fcp-40 {
    color: #4169E1;
}

.tc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tc-1 {
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.tc-5 {
    display:-webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

